body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #545454;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#intro {
  text-align: center;
  color: #fff;
}

#overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 45%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
  color: #fff;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  margin: 5px 0 10px;
}
.headline {
  margin: 0 0 60px;
}
.headline p {
  font-weight: 600;
  color: #9a9a9a;
  font-size: larger;
}

.service {
  margin: 0 0 40px;
}
p {
  margin: 0 0 10px;
}
.callout,
.section {
  position: relative;
  padding: 6rem 0;
}

.callout {
  background: #f5f5f5;
}

.callout-btn {
  margin-top: 10px;
}

.resume-items {
  margin-bottom: 40px;
}

.resume-place {
  margin-bottom: 20px;
}

.resume-place > h4 > i,
.resume-place > i {
  color: #c4c4c4;
  font-size: 14px;
  margin-right: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
/*Navbar*/
.navbar {
  background: 0 0;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  color: #fff !important;
  box-shadow: 1px -1px 20px 4px black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0 / 0.7);
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-nav {
    align-items: center;
  }
}

.navbar-expand-lg .navbar-collapse {
  margin-right: 2%;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active {
  background: 0 0;
  outline: 0;
  color: #ef4836;
}
.navbar-custom .navbar-brand {
  font: 700 18px/1.2 Montserrat, serif, sans-serif;
  color: #fff;
}
.navbar-custom .navbar-nav > li.active {
  border-bottom: 3px solid #fff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu > li > a,
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
}
.custom-collapse,
.navbar-color {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 0;
}
.custom-collapse .navbar-brand,
.custom-collapse .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.navbar-color .navbar-brand,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.navbar-color .navbar-nav > li > a {
  color: #222;
}
.navbar-color .navbar-nav > li.active {
  border-bottom: 3px solid #222;
}
.custom-collapse .navbar-nav {
  text-align: left;
}
.custom-collapse .navbar-nav > li.active {
  border: 0;
}
.custom-collapse .navbar-toggle .icon-bar,
.navbar-color .navbar-toggle .icon-bar {
  background: #222;
}

.btn .icon-before {
  margin-right: 6px;
}

/*media carousel*/
@media (max-width: 1024px) {
  #overlay {
    top: 50%;
  }
}
@media (max-width: 768px) {
  #overlay {
    top: 45%;
  }
}
@media (max-width: 640px) {
  #overlay {
    top: 40%;
  }
}
@media (max-width: 480px) {
  #overlay {
    top: 35%;
  }
}
@media (max-width: 320px) {
  #overlay {
    top: 25%;
  }
}

/*NAVBAR*/

.itemLink {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.itemLink:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  background-image: linear-gradient(60deg, black 0%, lightgrey 100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: -5px;
}

.itemLink:hover:before {
  visibility: visible;
  width: 90%;
  top: 0;
  right: 0;
}

.itemLink:hover:before,
.itemLink:focus:before,
.itemLink.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.itemLink:focus:before,
.itemLink.active:before {
  visibility: visible;
  width: 80%;
  margin-left: 10%;
  height: 2px;
  bottom: 0;
  left: 0;
}

@media (max-width: 992px) {
  .itemLink:hover:before,
  .itemLink:focus:before,
  .itemLink.active:before {
    visibility: hidden;
  }
}
