

.callout,
.section {
  position: relative;
  padding: 5rem 0;
}
img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 20px 0;
  text-transform: uppercase;
  color: #fff !important;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active {
  background: 0 0;
  outline: 0;
  color: #ef4836;
}
.navbar-custom .navbar-brand {
  font: 700 18px/1.2 Montserrat, serif, sans-serif;
  color: #fff;
}
.navbar-custom .navbar-nav > li.active {
  border-bottom: 3px solid #fff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu > li > a,
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
}
.custom-collapse,
.navbar-color {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 0;
}
.custom-collapse .navbar-brand,
.custom-collapse .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.navbar-color .navbar-brand,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.navbar-color .navbar-nav > li > a {
  color: #222;
}
.navbar-color .navbar-nav > li.active {
  border-bottom: 3px solid #222;
}
.custom-collapse .navbar-nav {
  text-align: left;
}
.custom-collapse .navbar-nav > li.active {
  border: 0;
}
.custom-collapse .navbar-toggle .icon-bar,
.navbar-color .navbar-toggle .icon-bar {
  background: #222;
}

.btn .icon-before {
  margin-right: 6px;
}