#profile-contact {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 1.20rem 0;;
}

.profile-item > h5 > a {
  color: black;
}

.profile-item > h5 > a:hover {
  color: red;
  text-decoration: underline;
}

.profile-item i {
  display: block;
  line-height: 42px;
  font-size: 32px;
  color: #222;
}
.profile-widget {
  margin-bottom: 40px;
}

.profile-widget {
  margin-bottom: 40px;
}
.skill-bar {
  background: #c4c4c4;
  display: table;
  height: 4px;
  width: 100%;
  margin: 10px -2px 20px -2px;
}
.skill-bar .skill-rate-on {
  background: #353535;
}
.skill-rate-off,
.skill-rate-on {
  display: table-cell;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.progress {
  background: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 20px;
}
.progress-bar {
  background: #353535;
  box-shadow: none;
}

@media (max-width: 767px) {
  .wrapper {
    text-align: center;
  }
  #profile-contact .profile-item,
  #stats .stat {
    margin: 0 0 20px;
  }
}

.alert,
.avatar,
.btn,
.form-control,
.label,
.modal-content,
.panel-group .panel,
.progress,
.widget-social li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
