#profile-contact {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	padding: 1.20rem 0;
}
.profile-item {
	>h5 {
		>a {
			color: black;
			&:hover {
				color: red;
				text-decoration: underline;
			}
		}
	}
	i {
		display: block;
		line-height: 42px;
		font-size: 32px;
		color: #222;
	}
}
.profile-widget {
	margin-bottom: 40px;
	margin-bottom: 40px;
}
.skill-bar {
	background: #c4c4c4;
	display: table;
	height: 4px;
	width: 100%;
	margin: 10px -2px 20px -2px;
	.skill-rate-on {
		background: #353535;
	}
}
.skill-rate-off {
	display: table-cell;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.skill-rate-on {
	display: table-cell;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.progress {
	background: #e5e5e5;
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.progress-bar {
	background: #353535;
	box-shadow: none;
}
.alert {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.avatar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.form-control {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.modal-content {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.panel-group {
	.panel {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
}
.widget-social {
	li {
		a {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
		}
	}
}
.service {
	.icon {
		font-size: 32px;
		margin: 0 0 5px;
		color: #222;
	}
}
@media (max-width: 767px) {
	.wrapper {
		text-align: center;
	}
	#profile-contact {
		.profile-item {
			margin: 0 0 20px;
		}
	}
	#stats {
		.stat {
			margin: 0 0 20px;
		}
	}
}
